<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion {{if this.isToggled 'toggled'}}" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">SINOVUZ</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <LinkTo @route="dashboard" class="nav-link" href="index.html">
            <FaIcon @icon="home" />
            <span>Dashboard</span>
        </LinkTo>
    </li>

    <li class="nav-item">
        <LinkTo @route="subscribers" class="nav-link" href="#">
            <FaIcon @icon="users" />
            <span>Subscribers</span>
        </LinkTo>
    </li>

    <li class="nav-item">
        <LinkTo @route="payments" class="nav-link" href="#">
            <FaIcon @icon="money-check-alt" />
            <span>Payments</span>
        </LinkTo>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="#">
            <FaIcon @icon="futbol" />
            <span>Football list</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="#">
            <FaIcon @icon="tasks" />
            <span>Managers</span>
        </a>
    </li>

    <hr class="sidebar-divider d-none d-md-block">

    <li class="nav-item">
        <a class="nav-link" href="#">
            <FaIcon @icon="cogs" />
            <span>Settings</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="#">
            <FaIcon @icon="user-check" />
            <span>Subscription</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button {{on "click" (fn (mut this.isToggled) (not this.isToggled))}} class="rounded-circle border-0"
            id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->