{{page-title "Subscribers"}}


                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Subscribers</h1>
                    </div>

                    <div class="row">
                        <table class="table table-hover">
                            <thead>
                          <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Registered date</th>
                            <th scope="col">Total payments</th>
                            <th scope="col">Status</th>
                            <th scope="col">Actions</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">Tom Cruise</th>
                            <td>06.04.2021</td>
                            <td>48784 000 UZS</td>
                            <td><span class="badge bg-danger text-white">Cancelled</span></td>
                            <td><a href="#" class="btn btn-outline-primary">Edit</a></td>
                          </tr>
                          <tr>
                            <th scope="row">Tom Cruise</th>
                            <td>06.04.2021</td>
                            <td>48784 000 UZS</td>
                            <td><span class="badge bg-danger text-white">Cancelled</span></td>
                            <td><a href="#" class="btn btn-outline-primary">Edit</a></td>
                          </tr>
                          <tr>
                            <th scope="row">Tom Cruise</th>
                            <td>06.04.2021</td>
                            <td>48784 000 UZS</td>
                            <td><span class="badge bg-danger text-white">Cancelled</span></td>
                            <td><a href="#" class="btn btn-outline-primary">Edit</a></td>
                          </tr>
                          <tr>
                            <th scope="row">Tom Cruise</th>
                            <td>06.04.2021</td>
                            <td>48784 000 UZS</td>
                            <td><span class="badge bg-danger text-white">Cancelled</span></td>
                            <td><a href="#" class="btn btn-outline-primary">Edit</a></td>
                          </tr>
                          <tr>
                            <th scope="row">Tom Cruise</th>
                            <td>06.04.2021</td>
                            <td>48784 000 UZS</td>
                            <td><span class="badge bg-danger text-white">Cancelled</span></td>
                            <td><a href="#" class="btn btn-outline-primary">Edit</a></td>
                          </tr>
                          <tr>
                            <th scope="row">Tom Cruise</th>
                            <td>06.04.2021</td>
                            <td>48784 000 UZS</td>
                            <td><span class="badge bg-danger text-white">Cancelled</span></td>
                            <td><a href="#" class="btn btn-outline-primary">Edit</a></td>
                          </tr>
                          <tr>
                            <th scope="row">Tom Cruise</th>
                            <td>06.04.2021</td>
                            <td>48784 000 UZS</td>
                            <td><span class="badge bg-danger text-white">Cancelled</span></td>
                            <td><a href="#" class="btn btn-outline-primary">Edit</a></td>
                          </tr>
                          <tr>
                            <th scope="row">Tom Cruise</th>
                            <td>06.04.2021</td>
                            <td>48784 000 UZS</td>
                            <td><span class="badge bg-danger text-white">Cancelled</span></td>
                            <td><a href="#" class="btn btn-outline-primary">Edit</a></td>
                          </tr>
                          <tr>
                            <th scope="row">Tom Cruise</th>
                            <td>06.04.2021</td>
                            <td>48784 000 UZS</td>
                            <td><span class="badge bg-danger text-white">Cancelled</span></td>
                            <td><a href="#" class="btn btn-outline-primary">Edit</a></td>
                          </tr>
                          <tr>
                            <th scope="row">Tom Cruise</th>
                            <td>06.04.2021</td>
                            <td>48784 000 UZS</td>
                            <td><span class="badge bg-danger text-white">Cancelled</span></td>
                            <td><a href="#" class="btn btn-outline-primary">Edit</a></td>
                          </tr>
                          <tr>
                            <th scope="row">Tom Cruise</th>
                            <td>06.04.2021</td>
                            <td>48784 000 UZS</td>
                            <td><span class="badge bg-danger text-white">Cancelled</span></td>
                            <td><a href="#" class="btn btn-outline-primary">Edit</a></td>
                          </tr>
                          <tr>
                            <th scope="row">Tom Cruise</th>
                            <td>06.04.2021</td>
                            <td>48784 000 UZS</td>
                            <td><span class="badge bg-danger text-white">Cancelled</span></td>
                            <td><a href="#" class="btn btn-outline-primary">Edit</a></td>
                          </tr>
                          <tr>
                            <th scope="row">Tom Cruise</th>
                            <td>06.04.2021</td>
                            <td>48784 000 UZS</td>
                            <td><span class="badge bg-danger text-white">Cancelled</span></td>
                            <td><a href="#" class="btn btn-outline-primary">Edit</a></td>
                          </tr>
                          <tr>
                            <th scope="row">Tom Cruise</th>
                            <td>06.04.2021</td>
                            <td>48784 000 UZS</td>
                            <td><span class="badge bg-danger text-white">Cancelled</span></td>
                            <td><a href="#" class="btn btn-outline-primary">Edit</a></td>
                          </tr>
                          <tr>
                            <th scope="row">Tom Cruise</th>
                            <td>06.04.2021</td>
                            <td>48784 000 UZS</td>
                            <td><span class="badge bg-danger text-white">Cancelled</span></td>
                            <td><a href="#" class="btn btn-outline-primary">Edit</a></td>
                          </tr>
                        </tbody>
                      
                        </table>
                    </div>

                </div>
                <!-- /.container-fluid -->

          