{{page-title "Payments"}}
<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Payments</h1>
  </div>

  <div class="row">
    <div class="col-8">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Subscriber name</th>
            <th scope="col">Registered date</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          {{#each this.rows as |row|}}
          <Table::TableRow @row={{row}} @route="main.payments.edit"/>
          {{/each}}
        </tbody>

      </table>
    </div>
    <div class="col-4">
      {{outlet}}
    </div>


  </div>

</div>
<!-- /.container-fluid -->