{{page-title "Dashboard"}}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
    </div>

    <!-- Content Row -->
    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <CardExample @title="Earnings" @value="$400,000" @color="primary" />


        <!-- Earnings (Monthly) Card Example -->
        <CardExample @title="Subscribers" @value="587" @color="success" />
        <!-- Earnings (Monthly) Card Example -->

        <CardExample @title="Managers" @value="7" @color="info" />



        <!-- Pending Requests Card Example -->
        <CardExample @title="Users" @value="1847" @color="warning" />


    </div>

</div>
<!-- /.container-fluid -->